@using LoyloyShop.Enum
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoyloyShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/LoyloyShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                 @* <li class="nav-item active">
                      @Html.ActionLink("Products", "Index", "Home", null,  new {@class = "nav-link btn" })
                     
                  </li>*@
                   <li class="nav-item active">
                      @Html.ActionLink("Active Products", "ActiveProduct", "Home", null,  new {@class = "nav-link" })
                  </li>
                  <li class="nav-item">
                      @Html.ActionLink("SoldOut", "SoldOutProduct", "Home", null, new {@class = "nav-link" })
                  </li>
                </ul>
                @using (Html.BeginForm("Search", "Home", FormMethod.Post,  new { @class="form-inline my-3 my-lg-0" }))
                {
                  @*<input class="form-control mr-sm-2" type="search" name="search" placeholder="Search by plate number" aria-label="Search">*@
                     @Html.DropDownList("CategoryId", Html.GetEnumSelectList<CategoryEnum>(), "Search by category",new { @class = "form-control" })
                  
                  <input type="submit" value="Search"  class="btn btn-outline-success my-2 my-sm-0"/>
                  @*<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*@
                }
                @*<form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
                 
              </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (@ViewBag.Product != null)
            {
                    <p class="badge badge-light">Total Product: @ViewBag.Product.Count</p>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - LoyloyShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
         $(function () {
             $('#dateFrom').datetimepicker();
             $('#dateTo').datetimepicker();
         });
      </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
