@using LoyloyShop.Enum
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoyloyShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/LoyloyShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Motorloyloy shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  @Html.ActionLink("Active Products", "Index", "Home", null,  new {@class = "nav-link" })
                </li>
                <li class="nav-item">
                  @Html.ActionLink("SoldOut", "SoldOutProduct", "Home", null, new {@class = "nav-link" })
                </li>
                <li class="nav-item">
                  @Html.ActionLink("Add Product", "AddProduct", "Home", null, new {@class = "nav-link" })
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              @using (Html.BeginForm("Search", "Home", FormMethod.Post,  new { @class="d-flex" }))
                {
                     @Html.DropDownList("CategoryId", Html.GetEnumSelectList<CategoryEnum>(), "Search by category",new { @class = "form-control me-2" })
                  
                  <input type="submit" value="Search"  class="btn btn-outline-success"/>
                }
            </div>
          </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (@ViewBag.Product != null)
            {
                    <p class="badge badge-light">Total Product: @ViewBag.Product.Count</p>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - LoyloyShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
  
    @await RenderSectionAsync("Scripts", required: false)

      <script type="text/javascript">
         $(function () {
             $('#dateFrom').datetimepicker();
             $('#dateTo').datetimepicker();
         });
      </script>
</body>
</html>
