@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

  @model Products
  @using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {
          <div class="form-row">
                <div class="form-group col-md-6">
                     <label for="Name">Name</label>
                     @Html.TextBoxFor(m => m.Name , new {@class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                     <label for="Type">Type</label>
                     @Html.TextBoxFor(m => m.Type , new {@class = "form-control" })
                </div>
                 <div class="form-group col-md-3">
                     <label for="Type">Color</label>
                     @Html.TextBoxFor(m => m.Color , new {@class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                     <label for="Engine Number">Engine Number</label>
                     @Html.TextBoxFor(m => m.EngineNumber , new {@class = "form-control" })
                </div>
                 <div class="form-group col-md-6">
                     <label for="Frame Number">Frame Number</label>
                     @Html.TextBoxFor(m => m.FrameNumber , new {@class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                     <label for="Plate Number">Plate Number</label>
                     @Html.TextBoxFor(m => m.PlateNumber , new {@class = "form-control" })
                </div>
                 <div class="form-group col-md-6">
                     <label for="Made Year">Made Year</label>
                     @Html.TextBoxFor(m => m.MadeYear , new {@class = "form-control" })
                </div>
                 <div class="form-group col-md-6">
                     <label for="Power">Power</label>
                     @Html.TextBoxFor(m => m.Power , new {@class = "form-control" })
                </div>
                 <div class="form-group col-md-6">
                     <label for="Price buy">Price Buy</label>
                     @Html.TextBoxFor(m => m.PriceBuy , new {@class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit Form"  class="btn btn-primary"/>
                </div>
            </div>
    }

}
