@{
    ViewData["Title"] = "Detail Page";
}
@model Products
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Plate Number</th>
        <th scope="col">Engine Number</th>
        <th scope="col">Frame Number</th>
        <th scope="col">Type</th>
        <th scope="col">Color</th>
        <th scope="col">Power</th>
        <th scope="col">Made Year</th>
        <th scope="col">Price</th>
        <th scope="col">Fixing Price</th>
        <th scope="col">Price-Sell</th>
       
        @{
                if (Model.PriceSell != 0)
                {
                    <th scope="col">Earning</th>
                }

            }
        <th scope="col">Created On</th>
        <th scope="col">Modified On</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
    
            <tr class="info">
                <td>@Model.Name</td>
                <td>@Model.PlateNumber</td>
                <td>@Model.EngineNumber</td>
                <td>@Model.FrameNumber</td>                
                <td>@Model.Type</td>
                <td>@Model.Color</td>
                <td>@Model.Power</td>
                <td>@Model.MadeYear</td>
               
                
                <td>@(Model.PriceBuy) </td>
                <td>@Model.Detail.Sum(d => d.Payment)</td>
                <td>@Model.PriceSell</td>
                    @{
                        if (Model.PriceSell != 0)
                        {
                          <td> @(Model.PriceSell - Model.PriceBuy)</td>
                        }

                    }
                <td>@Model.CreatedOn</td>
                <td>@Model.ModifiedOn</td>
                <td>@Model.Status</td>
              </tr>
    </tbody>
  </table>
    @if (Model.Detail.Count > 0)
    {
        <table class="table">
            @foreach (var detail in Model.Detail)
            {
                
                <tr>
                    <td>@detail.Name</td>
                    <td>@detail.Payment</td>
                </tr>
            }

        </table>
    }
</div>
