@{
    ViewData["Title"] = "Home Page";
}


  <table class="table-responsive table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Plate Number</th>
        <th scope="col">Engine Number</th>
        <th scope="col">Frame Number</th>
        <th scope="col">Price</th>
         <th scope="col">Fixing Price</th>
         <th scope="col">Total Price</th>
        <th scope="col">Created On</th>
        <th scope="col">Modified On</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var prod in (List<Products>)Model.PaginatedProducts())
            {
            <tr class="">
                <td> @prod.Name</td>
                <td>@prod.PlateNumber</td>
                <td>@prod.EngineNumber</td>
                <td>@prod.FrameNumber</td>
                <td>@prod.PriceBuy $</td>
                <td>
                    @if (prod.Detail != null)
                        {
                            @(prod.Detail.Sum(d => d.Payment))
                        }   
                        $
                </td>
                <td>
                        @if (prod.Detail != null)
                        {
                            @(prod.PriceBuy + prod.Detail.Sum(d => d.Payment)) 
                        } else
                        {
                            @prod.PriceBuy
                        }
                        $
                    </td>
                <td>@prod.CreatedOn</td>
                <td>@prod.ModifiedOn</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@prod.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@prod.Id">Details</a>
                </td>
              </tr>
            }
            <tr>
                <td colspan="4"></td>
                <td>Total original buying: @ViewBag.Total $</td>
                 <td>Total Fixing : @ViewBag.TotalPaymentDetail $</td>
                 <td>Total  : @(ViewBag.Total + ViewBag.TotalPaymentDetail) $</td>
                 <td colspan = "3"></td>
            </tr>
    </tbody>
  </table>
  <ul class="pagination">  
        @for (int i = 1; i <= Model.PageCount(); i++)  
        {  
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">  
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>  
            </li>  
        }  
    </ul> 
