@{
    ViewData["Title"] = "Search Product";
}


  <table class=" table-responsive table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Plate Number</th>
        <th scope="col">Price</th>
         <th scope="col">Fixing Price</th>
        <th scope="col">Created On</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var prod in (List<Products>)ViewBag.Product)
            {
            <tr class="">
                <td> @prod.Name</td>
                <td>@prod.PlateNumber</td>
                <td>@prod.PriceBuy $</td>
                <td>
                            @if (@prod.Detail.Count > 0)
                            {
                                @prod.Detail.Sum(d => d.Payment) 
                            }
                            $
                    </td>
                <td>@prod.CreatedOn</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@prod.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@prod.Id">Details</a>
                </td>
              </tr>
            }
            <tr>
                <td colspan="5">Total : @ViewBag.Total $</td>
            </tr>
    </tbody>
  </table>
